@import "../../../../global.scss";

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: $backgroundColor;

	.main-wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.branch {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #ffffff;
			box-shadow: 5px 5px 10px #d9d9d9,
				-5px -5px 10px #ffffff;
			box-shadow: 5px 5px 10px #d9d9d9,
				-5px -5px 10px #ffffff;
			width: 60vw;
			height: 70vh;
			border-radius: 38px;
			margin: 10% 0 10% 0;

			.imgContainer {
				width: 90%;
				height: 90%;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			&:hover {
				border-radius: 43px;
				border: 1px solid $brandColor;
				background: linear-gradient(
					145deg,
					#e6e6e6,
					#ffffff
				);
				box-shadow: 35px 35px 70px #d9d9d9,
					-35px -35px 70px #ffffff;
				cursor: pointer;
				transition: all 0.5s ease;
			}
		}
	}
}
