@import "../../../../global.scss";

.clubs {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	background: linear-gradient(
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.1)
		),
		url(https://images.pexels.com/photos/5676744/pexels-photo-5676744.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
			center;
	min-width: 100%;
	min-width: 100%;
	background-size: cover;
	background-position: center;

	.wrapper {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.welcome {
			height: 300px;
			width: 650px;
			padding: 25px 25px;
			border-radius: 15px;
			background: rgb(211, 211, 211);
			background: radial-gradient(
				circle,
				rgba(211, 211, 211, 1) 0%,
				rgba(199, 207, 208, 1) 40%,
				rgba(212, 201, 201, 0.8239670868347339) 60%,
				rgba(219, 219, 219, 0.6194852941176471) 93%
			);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			bottom: 75px;
			position: absolute;

			.center {
				font-family: "Saira", sans-serif;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-weight: 700;

				h3 {
					font-size: 64px;
				}
			}

			.bottom {
				h2 {
					margin-bottom: 50px;
					font-family: "Hind";
					font-weight: 600;
					font-size: 30px;
				}
			}
		}
	}
}
