@import "../../../../global.scss";

.HowJoinBar {
	width: 100%;
	height: 205px;
	background-color: $brandColor;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WhyJoinText {
	color: white;
	font-family: "Saira", sans-serif;
	font-size: 40px;
}
