@import "../../../../global.scss";

.gs1 {
	height: 175vh;
	width: 100%;
	background-color: #f6f6f6;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-direction: column;

	.backgroundColumn {
		height: 100%;
		width: 50%;
		background-color: rgba(221, 239, 241, 0.95);
		z-index: 1;
		position: absolute;
	}
	.bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 0.3;
		z-index: 2;
		background-color: #b1bebf;
		width: 90%;
		height: 80%;

		.container {
			width: 100%;
			height: 80%;
			display: flex;
			align-content: center;
			justify-content: center;
			border-right: 3px solid white;
			font-family: "Hind";
			font-weight: 700;
			position: relative;

			.textBox {
				color: white;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				h1 {
					font-size: 2.4vw;
				}
				h2 {
					font-weight: 400;
					// font-size: 1.9vw;
					margin: 5%;
					width: 250px;
				}
			}
		}

		.rContainer {
			width: 100%;
			height: 80%;
			display: flex;
			align-content: center;
			justify-content: center;
			font-family: "Hind";
			font-weight: 700;
			position: relative;

			.textBox {
				color: white;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				h1 {
					font-size: 2.4vw;
				}
				h2 {
					font-weight: 400;
					font-size: 1.9vw;
					margin: 5%;
					width: 250px;
				}
			}
		}
	}
	.top {
		display: flex;
		flex-direction: row;
		flex: 0.5;
		z-index: 2;
		margin: 75px;
		width: 90%;

		height: 388px;

		.right {
			width: 40%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 50px;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.left {
			display: flex;
			background-color: $brandColor;
			width: 80%;
			height: 100%;

			.textBox {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: space-around;
				font-family: "Hind";

				.text {
					color: white;
					margin-top: 15px;

					h1 {
						font-size: 2.3vw;
						margin: 10px;
					}
					p {
						margin-bottom: 195px;
						margin: 10px;
						font-size: 1.8vw;
					}
					ul {
						margin-bottom: 20px;
						font-size: 1.5vw;
						margin: 10px;

						li {
							list-style: none;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}
