@import "../../../../global.scss";

.gs1 {
	height: 125vh;
	width: 100%;
	background-color: #f6f6f6;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-direction: column;
	@include ipad {
		height: 115vh;
	}
	@include mobile {
		height: 70vh;
	}

	.backgroundColumn {
		height: 100%;
		width: 50%;
		background-color: rgba(221, 239, 241, 0.95);
		z-index: 1;
		position: absolute;
	}
	.bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 0.3;
		z-index: 2;
		background-color: #b1bebf;
		width: 90%;
		margin-top: 5%;
		@include ipad {
			flex: 0.3;
		}
		@include mobile {
			width: 98%;
			margin-top: 0;
		}

		.container {
			width: 100%;
			height: 70%;
			display: flex;
			align-content: inherit;
			justify-content: center;
			border-right: 3px solid white;
			font-family: "Hind";
			font-weight: 700;
			position: relative;

			.textBox {
				color: white;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				position: relative;

				h1 {
					position: absolute;
					top: 10%;
					font-size: clamp(1rem, 1.8vw, 2rem);
					line-height: 1vh;
					@include ipad {
						top: 1%;
						font-size: clamp(1rem, 2.9vw, 2rem);
						line-height: 2vh;
					}
					@include mobile {
						top: 0;
						font-size: clamp(1rem, 3vw, 2rem);
						line-height: 2.7vh;
					}
				}
				h2 {
					margin-top: 1%;
					font-weight: 400;
					font-size: clamp(1rem, 1.6vw, 2rem);
					line-height: 4vh;
					@include ipad {
						font-size: clamp(1rem, 2.7vw, 3rem);
					}
					@include mobile {
						margin-top: 40%;
					}
				}
			}
			&:last-child {
				border-right: none;
			}
		}
	}

	.top {
		display: flex;
		flex-direction: row;
		flex: 0.5;
		z-index: 2;
		margin: 75px;
		width: 90%;
		@include mobile {
			margin: 5%;
			margin-top: 15%;
		}

		.right {
			width: 30%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 5%;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.left {
			display: flex;
			background-color: $brandColor;
			width: 65%;
			height: 100%;

			.textBox {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: space-around;
				font-family: "Hind";

				.text {
					color: white;
					margin: 2%;

					h1 {
						font-size: clamp(1rem, 2vw, 3rem);
						font-weight: 600;
						margin: 1%;
						@include ipad {
							font-size: clamp(1rem, 4vw, 3rem);
						}
					}
					h2 {
						font-weight: 500;
						margin-bottom: 195px;
						margin: 1%;
						font-size: clamp(1rem, 1.7vw, 2rem);
						@include ipad {
							font-size: clamp(1rem, 4vw, 3rem);
						}
					}
					ul {
						margin-bottom: 20px;
						font-size: clamp(1rem, 1.5vw, 2rem);
						margin: 1%;
						@include ipad {
							font-size: clamp(1rem, 3vw, 3rem);
						}

						li {
							list-style: none;
							margin-bottom: 1%;
						}
					}
				}
			}
		}
	}
}
