@import "../../../../global.scss";

.main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: $backgroundColor;

	.main-wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.branch {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #ffffff;
			box-shadow: 5px 5px 10px #d9d9d9,
				-5px -5px 10px #ffffff;
			box-shadow: 5px 5px 10px #d9d9d9,
				-5px -5px 10px #ffffff;
			width: 800px;
			height: 500px;
			border-radius: 38px;

			.imgContainer {
				width: 90%;
				height: 90%;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
