@import "../../global.scss";

.footer {
	position: relative;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;

	.footerContainer {
		height: 100%;
		width: 100%;
		background-color: #404747;
		font-family: "Hind";
		color: white;
		display: flex;
		justify-content: center;
		flex-direction: row;

		.right {
			padding-right: 7%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex: 0.25;
			flex-direction: row;
			float: right;
			@include ipad {
				padding-right: 5%;
			}
			a {
				text-decoration: none;
				color: inherit;
			}
			.icon {
				width: 40px;
				height: 40px;
				cursor: pointer;
				transition: all 1.5 ease;

				&:hover {
					color: $brandColor;
					transform: scale(1.1);
				}
			}
		}
		.left {
			padding-left: 5%;
			display: flex;
			align-items: center;
			flex: 0.75;
			@include ipad {
				padding-left: 2%;
			}
			img {
				width: 75px;
				height: 55px;
				object-fit: scale-down;
			}
			h1 {
				margin-left: 25%;
				font-size: clamp(1rem, 1.5vw, 3.5rem);
				@include ipad {
					font-size: clamp(0.5rem, 2.8vw, 2rem);
					margin-left: 10%;
				}
			}
		}
	}
}
