@import "../../../../global.scss";

.implications {
	height: 255vh;
	display: flex;
	justify-content: center;
	background-color: #f6f6f6;
	position: relative;
	@include ipad {
		height: 235vh;
	}
	@include mobile {
		height: 255vh;
	}

	.backgroundColumn {
		height: 98%;
		width: 80%;
		background: rgb(221, 239, 241);
		background: linear-gradient(
			90deg,
			rgba(221, 239, 241, 1) 0%,
			rgba(219, 219, 219, 0) 100%,
			rgba(177, 190, 191, 0) 100%
		);
		z-index: 1;
		position: absolute;
	}

	.banner {
		width: 90%;
		height: 148px;
		z-index: 3;
		background: #31afbe;
		display: flex;
		justify-content: center;
		align-items: center;
		@include mobile {
			height: 5%;
			width: 100%;
		}
		h1 {
			color: white;
			font-family: "Saira";
			font-weight: bold;
			font-size: clamp(1rem, 3vw, 2rem);
			@include ipad {
				font-size: clamp(2rem, 3vw, 3rem);
			}
			@include mobile {
				font-size: clamp(1.5rem, 3vw, 3rem);
			}
		}
	}
	.left {
		display: flex;
		width: 45%;
		height: 80%;
		z-index: 2;
		top: 200px;
		left: 0;
		position: absolute;
		.imgContainer {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
			}
		}
	}

	.right {
		display: flex;
		width: 40%;
		height: 100%;
		right: 10%;
		top: 200px;
		z-index: 2;
		position: absolute;
		@include mobile {
			top: 175px;
		}
	}
	.textBox {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;

		padding-top: 15%;
		p {
			color: black;
			font-family: "Hind";
			font-size: 1.7vw;
			line-height: 4.8vh;
			@include ipad {
				font-size: clamp(0.9rem, 3.5vw, 4rem);
				line-height: 2.6vh;
			}
			@include mobile {
				font-size: clamp(0.9rem, 3.7vw, 4rem);
				line-height: 2.6vh;
			}
		}
	}
}
