@import "../../global.scss";

.partners {
	background-color: white;
	.container {
		height: 100vh;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;

		.top {
			flex: 0.25;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 25px;

			.topCard {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 43px;
				background: #ffffff;
				box-shadow: 35px 35px 70px #d9d9d9,
					-35px -35px 70px #ffffff;
				width: 400px;
				height: 150px;
				border: 1px solid white;
				transition: all 0.5s ease-in-out;

				img {
					position: absolute;
					height: 80%;
					width: 80%;
					object-fit: contain;
				}

				&:hover {
					border-radius: 43px;
					border: 1px solid $brandColor;
					background: linear-gradient(
						145deg,
						#e6e6e6,
						#ffffff
					);
					box-shadow: 35px 35px 70px #d9d9d9,
						-35px -35px 70px #ffffff;
				}
			}
		}
		.center {
			flex: 0.3;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			margin: 20px;
			margin-left: 400px;
			margin-right: 400px;
			.centerCard {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 43px;
				border: 1px solid white;
				background: #ffffff;
				box-shadow: 25px 25px 50px #d9d9d9,
					-25px -25px 50px #ffffff;
				width: 250px;
				height: 125px;
				margin: 10px;
				transition: all 0.5s ease-in-out;

				img {
					width: 80%;
					height: 80%;
					object-fit: contain;
				}

				&:hover {
					border-radius: 43px;
					border: 1px solid $brandColor;
					background: linear-gradient(
						145deg,
						#e6e6e6,
						#ffffff
					);
					box-shadow: 25px 25px 50px #d9d9d9,
						-25px -25px 50px #ffffff;
				}
			}
		}
		.bottom {
			flex: 0.25;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			margin-left: 150px;
			margin-right: 150px;
			.bottomCard {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 43px;
				border-radius: 43px;
				border: 1px solid white;
				background: #ffffff;
				box-shadow: 21px 21px 42px #d9d9d9,
					-21px -21px 42px #ffffff;
				width: 200px;
				height: 100px;
				margin: 20px;
				transition: all 0.5s ease-in-out;

				img {
					width: 80%;
					height: 80%;
					object-fit: contain;
				}

				&:hover {
					border-radius: 43px;
					border: 1px solid $brandColor;
					background: linear-gradient(
						145deg,
						#e6e6e6,
						#ffffff
					);
					box-shadow: 20px 20px 40px #d9d9d9,
						-20px -20px 40px #ffffff;
				}
			}
		}
	}
}
