@import "../../global.scss";

.footer {
	position: relative;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;

	.footerContainer {
		height: 100%;
		width: 100%;
		background-color: #404747;
		font-family: "Hind";
		color: white;
		display: flex;
		justify-content: center;
		flex-direction: row;

		.right {
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex: 0.3;
			flex-direction: row;
			float: right;
			margin: 50px;
			a {
				text-decoration: none;
				color: inherit;
			}
			.icon {
				width: 50px;
				height: 50px;
				cursor: pointer;
				transition: all 1.5 ease;

				&:hover {
					color: $brandColor;
					transform: scale(1.1);
				}
			}
		}
		.left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			float: left;
			flex: 0.5;
			img {
				width: 75px;
				height: 75px;
				object-fit: contain;
			}
		}
	}
}
