@import "../../../global.scss";

.infoBar {
	width: 100%;
	height: 205px;
	background-color: $black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.infoText {
	color: white;
	font-family: "Saira", sans-serif;
	font-size: 40px;
}
