@import "../../../../global.scss";

.activities {
	height: 115vh;
	width: 100vw;
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	position: relative;
	@include ipad {
		height: 85vh;
	}

	.banner {
		position: absolute;
		width: 60%;
		height: 15%;
		top: 50px;
		left: 100px;
		z-index: 3;
		background: #31afbe;
		padding-left: 200px;
		display: flex;
		align-items: center;
		@include ipad {
			width: 50%;
			top: 25px;
		}
		h1 {
			color: white;
			font-family: "Saira";
			font-weight: bold;
			font-size: 3.5vw;
		}
	}

	.container {
		height: 93%;
		width: 69%;
		background: rgb(221, 239, 241);
		background: rgb(219, 219, 219);
		background: linear-gradient(
			90deg,
			rgba(219, 219, 219, 0) 0%,
			rgba(221, 239, 241, 1) 100%,
			rgba(177, 190, 191, 0) 100%
		);
		z-index: 1;
		position: absolute;

		.textBox {
			padding-top: 23%;
			padding-left: 4.3%;
			padding-right: 5%;
			width: 75%;
			height: 900px;
			font-family: Hind;
			font-size: 1.8vw;
			line-height: 38px;
			color: #000000;
			@include ipad {
				padding-top: 40%;
				font-size: clamp(0.9rem, 3.5vw, 4rem);
				line-height: 3vh;
			}
		}
	}

	.imgContainer {
		width: 30%;
		height: 93%;
		z-index: 4;
		position: absolute;
		right: 0px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50% 50% 10% 10% / 25% 25% 0% 0%;
		}
	}
}
