$mainColor: rgba(221, 239, 241, 0.95);
$backgroundColor: #ddeff1;
$buttonColor: #b1bebf;
$buttonHover: #1fbfbf;
$black: #404747;
$brandColor: #31afbe;

$width: 768px;

@mixin ipad {
	@media (max-width: #{$width}) {
		@content;
	}
}
