@import "../../../../../global.scss";

.fields {
	height: 210vh;
	width: 100vw;
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	position: relative;
	padding-bottom: 100px;

	.banner {
		position: absolute;
		width: 60%;
		height: 10%;
		top: 50px;
		left: 0;
		z-index: 3;
		background: #31afbe;
		padding-left: 200px;
		display: flex;
		align-items: center;
		h1 {
			color: white;
			font-family: "Saira";
			font-weight: bold;
			font-size: 4vw;
		}
	}

	.container {
		height: 100%;
		width: 69%;
		background: rgb(221, 239, 241);
		background: linear-gradient(
			90deg,
			rgba(221, 239, 241, 1) 0%,
			rgba(219, 219, 219, 0) 100%,
			rgba(177, 190, 191, 0) 100%
		);
		z-index: 1;
		position: absolute;

		.textBox {
			padding-top: 35%;
			margin-left: 55%;
			width: 40%;
			height: 100%;
			justify-content: space-around;
			font-family: Hind;
			font-style: normal;
			font-size: 1.9vw;
			line-height: 4.8vh;
			color: #000000;
			ul {
				line-height: 5vh;
			}
		}
	}

	.imgContainer {
		width: 45%;
		height: 60%;
		z-index: 4;
		position: absolute;
		left: 5%;
		top: 20%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
