@import "../../global.scss";

.faqLanding {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	background: linear-gradient(
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.1)
		),
		url(https://images.unsplash.com/photo-1527784011719-3349bf049cf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
			center;
	min-width: 100%;
	min-width: 100%;
	background-size: cover;
	background-position: center;

	.wrapper {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.welcome {
			height: 300px;
			width: 650px;
			padding: 25px 25px;
			border-radius: 15px;
			background: rgb(211, 211, 211);
			background: radial-gradient(
				circle,
				rgba(211, 211, 211, 1) 0%,
				rgba(199, 207, 208, 1) 40%,
				rgba(212, 201, 201, 0.8239670868347339) 60%,
				rgba(219, 219, 219, 0.6194852941176471) 93%
			);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			bottom: 75px;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			@include mobile {
				width: 80vw;
				min-height: 10vw;
			}

			.top {
				padding-top: 20px;
				font-family: Hind;
				font-size: 24px;
				font-weight: 500;
				text-align: center;
			}

			.bottom {
				font-family: inherit;
				.btn-container {
					padding-bottom: 20px;
					height: 50px;
					width: 650px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					.btn {
						margin: 20px;
						padding: 7px;
						font-size: 24px;
						font-family: Hind;
						color: rgb(255, 255, 255);
						background-color: $brandColor;
						outline: none;
						border-style: none;
						border-radius: 15px;
						cursor: pointer;
						transition: all 0.5s ease;

						&:hover {
							background-color: $buttonColor;
						}
					}
				}
			}
		}
	}
}
